@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--text-base: 26, 26, 26;
		--text-invert: 242, 242, 242;

		--neutral-d3: 23, 26, 28;
		--neutral-d2: 60, 65, 68;
		--neutral-d1: 96, 104, 108;
		--neutral-base: 121, 128, 134;
		--neutral-l1: 148, 154, 158;
		--neutral-l2: 175, 179, 182;
		--neutral-l3: 215, 217, 219;
		--neutral-l4: 252, 253, 253;

		--primary-d3: 38, 38, 64;
		--primary-d2: 57, 57, 96;
		--primary-d1: 77, 77, 128;
		--primary-base: 96, 96, 159;
		--primary-l1: 128, 128, 179;
		--primary-l2: 159, 159, 198;
		--primary-l3: 191, 191, 217;
		--primary-l4: 223, 223, 236;

		--secondary-d3: 8, 92, 94;
		--secondary-d2: 12, 139, 141;
		--secondary-d1: 16, 185, 188;
		--secondary-base: 18, 230, 237;
		--secondary-l1: 65, 235, 241;
		--secondary-l2: 113, 240, 244;
		--secondary-l3: 160, 245, 248;
		--secondary-l4: 208, 250, 251;

		--danger-d3: 94, 8, 12;
		--danger-d2: 141, 12, 19;
		--danger-d1: 188, 16, 25;
		--danger-base: 235, 20, 31;
		--danger-l1: 239, 67, 76;
		--danger-l2: 245, 138, 143;
		--danger-l3: 251, 208, 210;
	}
}
